* {
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: #eee;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

header {
    position: fixed;
    margin: 0 auto 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    z-index:10;
}

header div {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    outline: 0;

}

header h1 {
    line-height: inherit;
    font-size: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}

/* ANDROID STYLES */
.android header {
    font-family: 'RobotoRegular', 'Droid Sans', Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 0 60px;
    border-bottom: 2px solid #ddd;
}

.android header div#logo {
    padding-left: 30px;
    width: 54px;
    background: url("../img/logoSign.png") no-repeat 15px 4px;
    background-size: 36px 36px;
    text-indent: -8000px;
}


.android header button{
    content: '';
    position: absolute;
    margin-top: -10px;
    width: 20px;
    height: 26px;
    border: none;
}
.android header button.back{
	 background: url(../img/arrow.png) no-repeat -2px 0;
	 background-size: 20px 26px;
	 opacity: 0.2;
	 top: 50%;
     left: 40%;
}
.android header button.next{
	background: url(../img/arrow.png) no-repeat -2px 0;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	background-size: 20px 26px;
	opacity: 0.2;
	top: 50%;
    left: 60%;
}
.android header h1 {
    font-size: 19px;
    color: #444;
}


#container {
	padding-top: 44px;
}

#the-canvas {
	display: block;
	margin: 0 auto 0 auto;
}
